<ion-header>
  <ion-toolbar>
    <!-- <ion-title text-center>Shop</ion-title> -->
  </ion-toolbar>
 
</ion-header>

<ion-content>
  <!-- <p text-center style="color: skyblue;"> Filter using Item name</p>  -->
   <!-- <ion-searchbar [formControl]="searchControl" style="max-width:50%" (ionChange)="FilterArrayObjects($event)"></ion-searchbar> -->
 <!-- <div>
   <ion-list >
     <ion-item (click)= "selectedProduct(prods)" *ngFor="let product of products">{{product.description}}</ion-item>
   </ion-list>
 </div> -->
 
 <div style="background-color: whitesmoke;">
  <ion-grid>
    <ion-row>
      <ion-col>  
  <label style="font-weight: bold;font-family: Open Sans;">Filter By Category</label> 
</ion-col>
<ion-col><p style="font-size: 11px;font-family: Open Sans;"><i> *Before changing on category list, reset to default category</i></p>
  <label>Categories</label> <select style="margin-right: 10px;" (change)="filterItems($event)" type = "text"  style="max-width:80px; margin-left:20%" ><option *ngFor="let category of productCategory" [value]="category">{{category}}</option></select>

 <ion-button size="small" color="success" style="color:#fff" (click)="queryOnBrowse()"><span> Reset Category</span></ion-button>
</ion-col>
<!-- <ion-col>

  <ion-label>Filter By Price Range</ion-label>
  <input id ="price-range" (input)="filterByPrice($event.target.value)" type="range" min="100" max="25000"/>

<p>Hey{{price}}</p>
</ion-col> -->
</ion-row>
</ion-grid>
</div>
 <div *ngFor="let img of products">
  <ion-card>
 <div class="row">
  <div class="column">
    <img style="max-width: 200px;" [src]='img.url'>
    <div style="margin-right: auto; margin-left: auto;">
    <p style="font-family: Open Sans; font-weight: bold"> {{img.description}}<br></p>
    <!-- <p><span class="styler">Item category</span>: {{img.category}}<br></p> -->
    <p><span style="color: lightgreen;"> KES {{img.price}}</span><br></p>
    <ion-button size="small" color="danger" style='color: #fff;' (click)="openImage(img)">VIEW MORE</ion-button>
  </div>
    <!-- <p><span class="styler">Availability</span>: In Stock<br></p> -->
  </div>
</div>
</ion-card>

</div>

</ion-content>
