<ion-header>
  <ion-toolbar>
    <ion-title text-center>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="styler"> 
  <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
    <ion-item style="margin-left: auto;margin-right: auto; margin-top: 100px;" lines="none">
    <ion-label position="fixed">Email</ion-label>
    <input type="email" formControlName="email" />
  </ion-item>
  <ion-button color="danger" size="small" (click)="onSubmit()" style="margin-left: 100px;">Reset</ion-button>
</form>
</div>
</ion-content>
