<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size-sm="6" size-md="6">
        <ion-card>
          <ion-card-content>
            <h3 style="color:green"><ion-icon name="person"></ion-icon> Account Info</h3>

          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-sm="6" size-md="6">
        <ion-card>
          <ion-card-content>
            <h3 style="color: blue"><ion-icon name="document"></ion-icon> Orders history</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" size-md="6">
        <ion-card>
          <ion-card-content>
            <h3 style="color: gold"><ion-icon slot="start" name="contact"></ion-icon> Delivery Updates</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-sm="6" size-md="6">
        <ion-card>
          <ion-card-content>
            <h3 style="color: orange"> <ion-icon slot="start" name="basket"></ion-icon> Saved Items</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>