<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size-sm="12" size-md="12">
        
        <ion-card>
          <div class="back-im">
          <ion-card-header style="font-weight: bold;color:#000">
            <ion-icon name="apps"></ion-icon> Account | Details
          </ion-card-header>
          <ion-card-content>
            <ion-item  lines="none" style="margin-left: auto; margin-right: auto;">
            <p><span class="account-details">Name</span>: {{name}}<br></p>
            </ion-item>
            <ion-item  lines="none">
            <p> <span class="account-details">Cell</span>: {{number}}<br></p>
          </ion-item>
          <ion-item lines="none">
           <p><span class="account-details">Email</span> : {{email}}</p>
          </ion-item>
          </ion-card-content>
        </div>
        </ion-card>
      
      </ion-col>
      <!-- <ion-col size-sm="6" size-md="6">
        <ion-card>
          <ion-card-header style="color: #fff;background-color: grey">
            <ion-icon name="document"></ion-icon> Orders history
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none" *ngFor="let account of parsedAccount " style="font-weight: bold"> {{account.buying_date | date: 'short' }}<ion-button
                fill="outline" slot="end" size="small">
                <ion-icon name="eye" slot="start"></ion-icon>VIEW
              </ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col> -->
    </ion-row>
    <ion-row>
      <!-- <ion-col size-sm="6" size-md="6">
        <ion-card>

          <ion-card-header style="color: #fff; background-color: grey">
            <ion-icon name="contact"></ion-icon> Delivery Updates
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
          </ion-col> -->
      <ion-col size-sm="6" size-md="6">
        <ion-card>
          <ion-card-header style="color: #000;font-weight: bold;">
            <ion-icon name="basket"></ion-icon> Bookings | Saved Items
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>