.back-im{
    background-image: url("/assets/wood.jpg");
}
.detailsStyle{
    font-weight: bold;
    font-family: Open Sans;
    font-size: medium;
    color: #fff
}
.details-styles{
    color: #fff;
}