<ion-header>
  <ion-toolbar color="dark">
    <ion-title text-center>Account History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
 <ion-list>
   <ion-card>
     <ion-card-header style="font-weight: bold;color: #000"><ion-icon name="flame"></ion-icon> Order Date | Status | View </ion-card-header>
     <ion-card-content>
      
  <ion-item lines="inset" *ngFor="let account of parsedAccount " style="font-weight: bold;">
    <p style="padding: 4%;margin-right: 10%;"> {{account.buying_date | date }}</p>
    <p style="font-weight: bold;">Status:<span style="color: green"> Delivered</span></p>
    <ion-button
    fill="outline" slot="end" size="small">
    <ion-icon name="eye" slot="start"></ion-icon>VIEW
  </ion-button>
</ion-item>

</ion-card-content>
</ion-card>
 </ion-list>

</ion-content>
