<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="closePopover()" defaultHref="/"></ion-back-button>
  </ion-buttons>
    <ion-title text-center>Orders History</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content >
 <ion-list>
   <ion-card>
     <ion-card-header style="font-weight: bold;color: #000"><ion-icon name="flame"></ion-icon> Order Date | Status | View </ion-card-header>
     <ion-card-content>
      
  <ion-item lines="none" *ngFor="let account of parsedAccount " style="font-family: Open Sans;">
    <p style="max-width: 4.2em;margin-right: 20%;"> {{account.buying_date | date }}</p>
    <p style="font-family: Open Sans;"><span style="color: red"> Delivery ongoing</span></p>
    <ion-button
    fill="outline" slot="end" size="small" (click)="orderDetails()" [routerLink]="['/menu/preview-media', account._id]">
    <ion-icon name="eye" slot="start" ></ion-icon>VIEW
  </ion-button>
</ion-item>

</ion-card-content>
</ion-card>
 </ion-list>

</ion-content>
