<ion-header>
  <ion-toolbar color="dark">
    <ion-title text-center style="font-weight: bold;">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="bg-image"></div>
  <div class="bg-text">
  <div class = "styleInput">
  <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
    <img src="/assets/preetiLogo1.png" style="height:100px; width: 100px" />
    <ion-item class = "curved">
      <ion-label position="floating" style="font-weight: bold;">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item class = "curved">
      <ion-label position="floating" style="font-weight: bold;">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <div class="loading-spinner">
      <ion-button expand="full" type="submit" fill="outline"  (click)="presentLoadingWithOptions()" [disabled]="!credentialsForm.valid" style="color: #000">Login</ion-button>
    
    <!-- <ion-button expand="full" type="button"  (click)="presentLoadingWithOptions()" fill="outline" style="color: #000">Register</ion-button> -->
  </div>
  </form>
</div>
<p style="color: #000; font-size: smaller;" tappable>Forgot Password?<br></p>
<p style="color: blue;font-size: small;" tappable routerLink="/menu/register">REGISTER a new account now</p>
</div>
</ion-content>