<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class = "styleInput">
  <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">

    <ion-item class = "curved">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item class = "curved">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" fill="outline" [disabled]="!credentialsForm.valid">Login</ion-button>
    <h1 text-center style="font-size: 1.4em"> OR <br></h1>
    <ion-button expand="full" type="button" routerLink="/menu/register" fill="outline">Register</ion-button>
  </form>
</div>
</ion-content>