<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="back-ground">
      <h1 text-left>Contact Us...</h1>
      <div class="stayOut">
          <form [formGroup]="contactForm" (ngSubmit)="onReply()">
        <ion-list>
          <ion-item class="staythere">
            <ion-label position="floating">Your Name...</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>

          <ion-item class="staythere">
            <ion-label position="floating">Your Phone Number.. </ion-label>
            <ion-input type="tel" formControlName="cell"></ion-input>
          </ion-item>

          <ion-item class="staythere">
            <ion-label position="floating">Your feedback..</ion-label>
            <ion-input type="text" formControlName="feedback"></ion-input>
          </ion-item>
        </ion-list>
      <ion-button color="success"  (click)="onReply()" type="button" size="default">Submit</ion-button>
    </form>
      </div>
      <div class="details">
      <h3 text-left>Follow us.. <br></h3>
      <div class="align-left">
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-pinterest"></ion-icon>
      </div>
      <p text-right>Located along Moktar Daddar St. <br> Off Muindi Mbingu St. <br> Opposite Barclays Bank, Market
        Branch
        <br> Telephone Lines: 0737200842, 0722932275</p>
      </div>
      </ion-content>