<ion-header>
    <ion-toolbar>
      <ion-title text-center>
        Contact
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <h1 text-center>Contact Us...</h1>
    <div class="stayOut">
    <ion-list>
    
        <ion-item class="staythere">
          <ion-label position="floating">Your Name...</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
  
        <ion-item class="staythere">
          <ion-label position="floating">Your Phone Number.. </ion-label>
          <ion-input type="tel"></ion-input>
        </ion-item>
  
        <ion-item class="staythere">
          <ion-label position="floating">Views,Comments</ion-label>
          <ion-textarea ></ion-textarea>
        </ion-item>
    </ion-list>
    </div>
    <ion-button fill="outline" expand="block" colour="dark">Submit</ion-button>
   <div class="details"> <p text-right>Located along Moktar Daddar St. <br> Off Muindi Mbingu St. <br> Opposite Barclays Bank, Market Branch <br> Telephone Lines: 0737200842, 0722932275</p></div>
  </ion-content>