.staythere {
    width: 100%;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    margin-bottom: 10px;  
}

.stayOut {
    width: 300px; 
    margin-left:auto; 
    margin-right: auto; 
}
.details {
    background-color: indigo;
    -webkit-text-fill-color: aliceblue;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-right: 1%;
}
