<ion-split-pane >
  <ion-menu contentId="content" style="max-width: 12.5em;">
    <ion-header no-border>
      <ion-toolbar>
        <ion-title style="color:white">
          MENU
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      
      <p text-center></p>
      <div class="menu-styles">
        <!-- <ion-icon style="font-size: 40px" name="person"></ion-icon> -->
        <img src="/assets/PreetiLogo.png" style="height:100px; width: 100px;"/>
    </div>
            <ion-list lines="none">
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages ">
            <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath === p.url" no-lines>
                <ion-icon style="margin-right: 10%" item-start [name]="p.icon"> </ion-icon>                       
              {{p.title }}
            </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-footer>Preeti@2021</ion-footer>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>