.active-item {
    border-left: 8px solid var(--ion-color-primary);
    
}
.back-color {
    background-color: black;
    color: aliceblue; 
}

.menu-styles{
    //border: 0.5em solid red;
    max-width: 150px; 
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
}
ion-menu {
    --ion-background-color: var(--custom-menu);
    // max-width: 1em; 
}
    ion-toolbar {
        --background: transparent;
    }

    ion-list {
        background: transparent;
        color: white;
    }
    ion-item {
        color: rgb(255, 255, 255);
        --background: transparent;
        
    }
    ion-content {
        --background: transparent;
    }

