.active-item {
    border-left: 8px solid var(--ion-color-primary);
}
.back-color {
    background-color:black;
    color: aliceblue; 
}
.menu-styles{
    max-width: 150px; 
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
}