<ion-split-pane >
  <ion-menu contentId="content" style="max-width: 50px;">
    <ion-header no-border>
      <ion-toolbar>
        <ion-title style="color:white">
          MENU
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <p text-center></p>
      <div class="menu-styles"><ion-avatar align-self-center>
        <img src="assets/pau.jpg">
      </ion-avatar>
    </div>
            <ion-list lines="none">
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages ">
            <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath === p.url" no-lines>
                <ion-icon item-start [name]="p.icon"> </ion-icon>                       
              {{ p.title }}
            </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-footer style ="color:white; font-weight: bold;">Preeti Fashions @2019</ion-footer>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>