.form-orients{
    // margin-top: 20%;
    margin-left: 20%;
    margin-right: auto;
    // margin-right: auto;
    text-align: center;
}
.highlight-content{
    font-weight: bold;
}
.style-input{
    // max-width: 50%;
    margin-left: 4%
  }
.labelStyler{
    // margin-right: 5px;
    // position: absolute;
    // max-width: 50%;
    font-family: Open Sans;
}

form{
    font-family: Open Sans;
}
.footer-styling{
    color: #fff;
    font-family: Open Sans;
}
ion-footer{
    background-color: #000;
}