<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <section text-center margin-bottom>
        <ion-icon name="person"></ion-icon>
        <h1 style="font-size:1.4em" no-margin>Welcome, <br>
        Pau </h1>
        </section>
  <ion-card class="intro-card">
    <ion-slides pager="true" effect="fade">
      <ion-slide>
        <img src="/assets/afro1.jpg"/>
      </ion-slide>
      <ion-slide>
        <img src="/assets/kaunda.jpg"/>
      </ion-slide>
      <ion-slide>
        <img src="/assets/african1.jpg"/>
      </ion-slide>
    </ion-slides>
  </ion-card>
  <ion-card>
      <ion-card-content>
        <div class="textv">
        <p text-center>Sign in to access more services</p>
      </div>
        <ion-button expand="block" fill="outline" routerLink="/login">Login</ion-button>
        <div class="routeit"><a routerLink="/signup">Create new account here..</a></div>
      </ion-card-content>
  </ion-card>
  <div class="intro">
      <h2>Top categories</h2>
    </div>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-button text-center padding color="danger" routerLink="/main-shop">
          <ion-icon name="person"></ion-icon>
          <h2>Dresses</h2>
        </ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button text-center padding color="danger">
          <ion-icon name="person"></ion-icon>
          <h2>Suits</h2>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-button text-center padding color="danger">
          <ion-icon name="search"></ion-icon>
          <h2>Shoes</h2>
        </ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button text-center padding color="danger">
          <ion-icon name="person"></ion-icon>
          <h2>Bags</h2>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>