ion-badge {
    color: #ffffff;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 100%;
}
.category-block {
    margin-bottom: 5px;
    margin-left: 50px;
    margin-right:50px;
    margin-top: 5px;
}
ion-row{
    background-image: linear-gradient(to right, #F18C8E, #F0B784);
}
p.navigation-arrows{
    border: 5px round;
    //border-width: 15px;
    font-size: small; 
    //color: #fff;
}
.category-banner {
    //border-left: 8px solid var(--ion-color-secondary);
    --ion-background-color: var(--custom-menu);
    height: 40px;
    padding: 10px;
    font-weight: 500;
}
.new-card {
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 350px;
}
.display-items {
    background-size: cover;
     height:400px;
    // width: 180px;
}