ion-badge {
    color: #ffffff;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 100%;
}
.category-block {
    margin-bottom: 4px;
}
.category-banner {
    border-left: 8px solid var(--ion-color-secondary);
    background-color: pink;
    height: 40px;
    padding: 10px;
    font-weight: 500;
}
.new-card {
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 350px;
}
.display-items {
    background-size: contain;
    height: 350px;
    width: 180px;
}