<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>
      Shop
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-badge *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
        <ion-icon name="cart" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="padding" scroll="true">
  <div *ngFor="let cat of items" class="category-block">

    <ion-row no-padding class="category-banner">
      <ion-col text-center button tappable (click)="cat.expanded =!cat.expanded" align-self-center>
        {{cat.category }}
      </ion-col>
    </ion-row>
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let product of cat.products">
        <div *ngIf="cat.expanded">
                <ion-card class="new-card">
                  <ion-card-header>
                    <ion-card-title style="font-family: fantasy">
                      {{product.name }} - {{ product.total }}
                    </ion-card-title>
                    <p routerLink="/menu/view-product" (click)="viewProduct(product)" tappable style="font-family: Fantasy; color:burlywood">VIEW PRODUCT</p>
                  </ion-card-header>
                  <ion-card-content>
                      <div class="display-items"><img tappable [src]='product.url' /></div> 
                  </ion-card-content>
                  </ion-card>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>