<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <h1 text-left style="font-family: Geneva">Welcome to..</h1>
  <section text-left margin-bottom>
    <img src="/assets/PreetiLogo.png" />
  </section>
  <ion-card class="intro-card">
    <ion-slides [options]="slidesConfig">
      <ion-slide>
        <ion-avatar>
          <img width="100%" height="100%" src="/assets/afro1.jpg" /><br>
        </ion-avatar>
        <p style="font-family: Geneva" text-center> From casual dresses to official suits </p>
      </ion-slide>
      <ion-slide>
        <ion-avatar>
          <img width="100%" height="100%" src="/assets/kaunda.jpg" /><br>
        </ion-avatar>
        <p style="font-family: Geneva"> To mens variable selections </p>
      </ion-slide>
      <ion-slide>
        <ion-avatar>
          <img width="100%" height="100%" src="/assets/african1.jpg" />
        </ion-avatar>
        <p style="font-family: Geneva"> Other items (accessories, bags, perfumes) etc.</p>
      </ion-slide>
    </ion-slides>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div class="textv">
        <p text-center style="font-weight: 300">Get to know us better</p>
      </div>
      <div class="redirect-login">
        <ion-button expand="block" fill="solid" routerLink="/about">About us</ion-button>
      </div>
      <div class="routeit"><a routerLink="/contact">Our Communication Lines..</a></div>
    </ion-card-content>
  </ion-card>
  <div class="intro">
    <div class="primary-color">
      <h2 style="color: #ffff;">Top categories</h2>
    </div>
  </div>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="2">
        <ion-thumbnail><img tappable routerLink="/main-shop" src="/assets/slf2.jpg" /></ion-thumbnail>
      </ion-col>
      <ion-col size="2">
        <ion-thumbnail><img tappable src="/assets/oshoe1.jpg" routerLink="/shoes" /></ion-thumbnail>
      </ion-col>
      <ion-col size="2">
        <ion-thumbnail><img tappable src="/assets/tsuit5.jpg" routerLink="/suits" /></ion-thumbnail>
      </ion-col>
      <ion-col size="2">
        <ion-thumbnail><img tappable src="/assets/hbag2.jpg" routerLink="/bags" /></ion-thumbnail>
      </ion-col>
      <ion-col size="2">
        <ion-thumbnail><img tappable src="/assets/PRETSAL.png" routerLink="/other-items" /></ion-thumbnail>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="primary-color">
    <h2 style="color: #ffff"> Our offer deals...</h2>
  </div>
  <div class="redirect-login">
    <ion-button expand="block" fill="solid" (click)="logout()">Logout</ion-button>
  </div>
</ion-content>