.intro-card {
    background-color: crimson;
    color: azure;
    margin-left:auto; 
    margin-right: auto; 
    height: 100px;
    overflow: hidden;
}
.bg {
    --background: #ffff url('/assets/p11.jpg') no-repeat center center / contain;
}
.navigation-menu {
    background-color:whitesmoke; 
    font-family: Impact;
}
.align-middle {
    width: 300px;
}

.textv {
    background-color: whitesmoke;
    align-content: center;
    font-weight: 500;  
}
.video {
    width: 500px;
    height: 350px;
}
.primal {
    background-color: black;
    color: #ffff;
}
.back-color {
    background-color: #ffff;
}
ion-content {
    margin-top: 0px;
    padding-top: 0px; 
}
.redirect-login {
    width: 300px; 
    margin-left:auto; 
    margin-right: auto;
}
.card-resize {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
}
.display-product {
    background-size: cover;
}

$colors:(
    danger: #ec5a5a,
    primary: blue,
    dark: white
)
