<ion-header>
  <ion-toolbar style="background-color: palegoldenrod">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <h1 text-center style="font-family: Impact">Welcome to..</h1>
        <section text-center margin-bottom>
          <img src="/assets/PreetiLogo.png" />
        </section>
      </ion-col>
    </ion-row>
    <ion-card>
      <div class="navigation-menu">
        <ion-row>
          <ion-grid>
            <ion-col size-sm="3" size-md="5">
          <ion-col size-sm="2" tappable routerLink="/menu/home">Home</ion-col>
          <ion-col size-sm="2" tappable routerLink ="/menu/history">My Account</ion-col>
          <ion-col size-sm="2" tappable routerLink="/menu/main-shop">Shop</ion-col>
          <ion-col size-sm="2" tappable routerLink="/menu/contact">Contact</ion-col>
        </ion-col>
        </ion-grid>
        </ion-row>
        
      </div>
    </ion-card>
  </ion-grid>
  <ion-card>
    <ion-grid fixed>
      <ion-row>
        <ion-col size-sm="2" size-md="4">
          <video class="video" webkit-playsinline playsinline autoplay loop>
            <source src="assets/home-video2.mp4" type="video/mp4">
          </video>
        </ion-col>
        <ion-col size-sm="2" size="4">
          <video class="video" webkit-playsinline playsinline autoplay loop>
            <source src="assets/home-video3.mp4" type="video/mp4">
          </video>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card class="intro-card">
    <ion-slides [options]="slidesConfig">
      <ion-slide>
        <ion-avatar>
          <img width="100%" height="100%" src="/assets/afro1.jpg" /><br>
        </ion-avatar>
        <p style="font-family: Geneva" text-center> From casual dresses to official suits </p>
      </ion-slide>
      <ion-slide>
        <ion-avatar>
          <img width="100%" height="100%" src="/assets/kaunda.jpg" /><br>
        </ion-avatar>
        <p style="font-family: Geneva"> To mens variable selections </p>
      </ion-slide>
      <ion-slide>
        <ion-avatar>
          <img width="100%" height="100%" src="/assets/african1.jpg" />
        </ion-avatar>
        <p style="font-family: Geneva"> Other items (accessories, bags, perfumes) etc.</p>
      </ion-slide>
    </ion-slides>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div class="textv">
        <p text-center style="font-weight: 300">Get to know us better</p>
      </div>
      <div class="routeit"><a routerLink="/menu/contact">Contact Us..</a></div>
    </ion-card-content>
  </ion-card>
  <div class="primal">
    <ion-text color="light"><h2 style="color: #ffff">Top categories</h2></ion-text>
  </div>
  <div class="back-color">
    <ion-grid fixed>
      <ion-row>
        <ion-col class="ion-align-self-start" size-sm="3" size-md="3" style="font-family: Impact">Dresses
          <ion-thumbnail><img tappable routerLink="/menu/main-shop" src="/assets/slf2.jpg" /></ion-thumbnail>
        </ion-col>
        <ion-col class="ion-align-self-start" size-sm="3" size-md="3" style="font-family: Impact">Tops
          <ion-thumbnail><img tappable routerLink="/menu/main-shop" src="/assets/img3.jpg" /></ion-thumbnail>
        </ion-col>
        <ion-col class="ion-align-self-center" size-sm="3" size-md="3" style="font-family: Impact">Shoes
          <ion-thumbnail><img tappable src="/assets/oshoe3.jpg" routerLink="/menu/shoes" /></ion-thumbnail>
        </ion-col>
        <ion-col class="ion-align-self-center" size-sm="3" size-md="3" style="font-family: Impact">Suits
          <ion-thumbnail><img tappable src="/assets/tsuit5.jpg" routerLink="/menu/suits" /></ion-thumbnail>
        </ion-col>
        <ion-col class="ion-align-self-center" size-sm="3" size-md="3" style="font-family: Impact">Bags
          <ion-thumbnail><img tappable src="/assets/hbag2.jpg" routerLink="/menu/bags" /></ion-thumbnail>
        </ion-col>
        <ion-col class="ion-align-self-end" size-sm="3" size-md="3" style="font-family: Impact">Men
          <ion-thumbnail><img tappable src="/assets/suit1.jpg" routerLink="/menu/other-items" /></ion-thumbnail>
        </ion-col>
        <ion-col class="ion-align-self-end" size-sm="3" size-md="3" style= "font-family: Impact">Others
          <ion-thumbnail><img tappable src="/assets/PRETSAL.png" routerLink="/menu/other-items" /></ion-thumbnail>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="primal">
    <ion-text color="light"><h2> Our offer deals...</h2></ion-text>
  </div>
  <div class="redirect-login">
    <ion-button expand="block" fill="outline" (click)="logout()">Logout</ion-button>
  </div>
</ion-content>