<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-fab vertical="top" horizontal="end">
      <ion-button color="dark" (click)="openCart()">
        <ion-badge  *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
        <ion-icon name="cart" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-fab>
    <!-- <ion-button  *ngIf="!checkAuth" slot="end" style="margin-top: 3%;"color="danger"size="small"routerLink="/menu/login" ><ion-icon name="log-in"></ion-icon>Login</ion-button> -->
  </ion-toolbar>
</ion-header>
<ion-content class="card-background-page" >

  <img src="/assets/PreetiLogo.png" style="margin-left: 35%; height:7.5em; width: 9.375em" />
  <!-- <ion-card>
    <ion-card-title routerLink="/menu/main-shop" style="font-weight: bold; font-family: Open Sans;">New Arrivals</ion-card-title> -->
    <div class="categoryblock">
        <h3 text-center style="font-weight: bold;font-family: Fantasy; color:burlywood">New Arrivals</h3>
    <ion-slides [options]="slidesConfig">
    
      <ion-slide *ngFor="let img of item">
        <!-- <div *ngIf="cat.expanded"> -->
                <ion-card class="new-card">
                  <ion-card-header>
                    <ion-card-title style="font-family: fantasy">
                      <p style="font-size: small;">{{img.description }} - {{ img.price }}</p>
                    </ion-card-title>
                    <p (click)="openImage(img)" tappable style="font-family: Fantasy; color:burlywood" click="getMarketplaceItems()">VIEW PRODUCT</p>
                  </ion-card-header>
                  <ion-card-content>
                      <div class="display-items"><img tappable class="landing-page" (click)="openImage(img)" [src]='img.url' /></div> 
                  </ion-card-content>
                  </ion-card>       
        <!-- </div> -->
      </ion-slide>
   
    </ion-slides> 
  </div>
  <!-- </ion-card> -->
  <h3 text-center style="font-weight: bold;font-family: Fantasy;color:burlywood">Top Categories</h3>
  <div *ngIf="isWebLayout">
  <ion-grid>
    <ion-row>
    <ion-col  size-lg="4" >
      <ion-card routerLink="/menu/media">
        <img class="bg-image" src="assets/jeans_dress.jpeg"/>
        <div routerLink="/menu/media" class="card-title">Dresses</div>
        <div class="card-subtitle">Selections from Turkey & US</div>
        
      </ion-card>
    </ion-col>
    <ion-col size-lg="4" >
      <ion-card routerLink="/menu/media">
        <img class="bg-image" src="assets/casual_green.jpeg"/>
        <div routerLink="/menu/media" class="card-title">Casual Suits</div>
        <div class="card-subtitle">Selections from Turkey & US</div>
      </ion-card>
    </ion-col>
    <ion-col size-sm="12" size-lg="4" size-md="4">
      <ion-card routerLink="/menu/media">
        <img class="bg-image" src="assets/skirt_suit.jpeg"/>
        <div routerLink="/menu/media" class="card-title">Skirt Suits</div>
        <div class="card-subtitle">Official Wear </div>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-lg="4" >
      <ion-card routerLink="/menu/media">
        <img class="bg-image" src="assets/sweater_mustard.jpeg"/>
        <div routerLink="/menu/media" class="card-title">Sweaters</div>
        <div class="card-subtitle">Warm & Cozy</div>
      </ion-card>
    </ion-col>
    <ion-col  size-lg="4">
      <ion-card routerLink="/menu/media">
        <img class="bg-image" src="assets/lady-shoe.jpeg"/>
        <div routerLink="/menu/media" class="card-title">Ladies' Shoes</div>
        <div class="card-subtitle">Get that swag on</div>
      </ion-card>
    </ion-col>
    <ion-col size-lg="4" >
      <ion-card routerLink="/menu/media">
        <img class="bg-image" src="assets/suit1.jpg"/>
        <div routerLink="/menu/media" class="card-title">Men's Wear</div>
        <div class="card-subtitle">Official, Casual etc...</div>
      </ion-card>
    </ion-col>
  </ion-row>
  </ion-grid>
</div>
  <div *ngIf="isMobileLayout">
    <ion-card routerLink="/menu/media">
      <img class="bg-image" src="assets/jeans_dress.jpeg"/>
      <div routerLink="/menu/media" class="card-title">Dresses</div>
      <div class="card-subtitle">Selections from Turkey & US</div>
    </ion-card>
  <ion-card routerLink="/menu/media">
    <img class="bg-image" src="assets/casual_green.jpeg"/>
    <div routerLink="/menu/media" class="card-title">Casual Wear</div>
    <div class="card-subtitle">Selections from Turkey & US</div>
  </ion-card>
  <ion-card routerLink="/menu/media">
    <img class="bg-image" src="assets/skirt_suit.jpeg"/>
    <div routerLink="/menu/media" class="card-title">Skirt Suits</div>
    <div class="card-subtitle">Official Wear </div>
  </ion-card>
  <ion-card routerLink="/menu/media">
    <img class="bg-image" src="assets/sweater_mustard.jpeg"/>
    <div routerLink="/menu/media" class="card-title">Sweaters</div>
    <div class="card-subtitle">Warm & Cozy</div>
  </ion-card>
  <ion-card routerLink="/menu/media">
    <img class="bg-image" src="assets/lady-shoe.jpeg"/>
    <div routerLink="/menu/media" class="card-title">Ladies' Shoes</div>
    <div class="card-subtitle">Get that swag on</div>
  </ion-card>
  <ion-card routerLink="/menu/media">
    <img class="bg-image" src="assets/suit1.jpg"/>
    <div routerLink="/menu/media" class="card-title">Men's Wear</div>
    <div class="card-subtitle">Official, Casual etc...</div>
  </ion-card>
</div>
            <!-- <ion-grid>
              <ion-row>
              <ion-col size-sm="12" size-md="12" size-lg="12" style="background: #fff; color: grey;height: 50px;width: 80%;padding-top:10px;">
                <div class="round-border">
                <ion-col size-sm="2" tappable routerLink="/menu/home" style="color: #000;font-weight: bold;"></ion-col>
                <ion-col size-sm="2" tappable routerLink="/menu/accountslanding"style="color: #000;font-weight: bold;"><i>Account </i></ion-col>
                <ion-col size-sm="2"tappable routerLink="/menu/media" style="color: rgb(68, 49, 49);font-weight: bold;"><i>Shop </i></ion-col>
                <ion-col size-sm="2" tappable style="color: #000; font-weight: bold;"><i>Orders </i></ion-col> 
                <ion-col size-sm="2" tappable routerLink="/menu/contact" style="color: #000; font-weight: bold;"><i>Contact Us </i></ion-col> -->

             
              <!-- </div> -->
              
            
            <!-- </ion-row>
              </ion-grid>  -->
              <!-- <ion-card class="intro-card"class="background"> -->
                <!-- <div class="simple-ss"></div> -->
                <!-- <div class="background">
                <ion-slides [options]="slidesConfig">
                  <ion-slide>
                    <div class="content"></div>
                       <img class="landing-page" src="/assets/girl_dress.jpeg" /> 
                     <p class="text-slide" style="font-family: Open Sans;"><i>Dress selections</i><br>
                    <ion-button color="danger"  size="small" style="color: #fff; font-family: Open Sans ;" routerLink="/menu/media">View</ion-button>
                    </p> 
                  </ion-slide>
                  <ion-slide>
                       <img class="landing-page" src="/assets/men_suit.jpeg" /><br>
                    <p class="text-slide" style="font-family:Open Sans;"><i>Men's Casual Wear</i><br>
                      <ion-button color="danger" size="small" style="color: #fff; font-family: Open Sans;" routerLink="/menu/media">View</ion-button>
                    </p>
                  </ion-slide>
                  <ion-slide>
                    <img class="landing-page" src="/assets/kalu.jpg" /><br>
                 <p class="text-slide" style="font-family:Open Sans;"><i>Shoes and Footwear </i><br>
                   <ion-button color="danger" size="small" style="color: #fff; font-family: Open Sans;" routerLink="/menu/media">View</ion-button>
                 </p>
               </ion-slide>
                  <ion-slide>
                      <img class="landing-page" src="/assets/lhbag.jpg" />
                    <p class="text-slide" style="font-family: Open Sans;"><i>Accessories and Others</i><br>
                      <ion-button color="danger" size="small" style="color: #fff; font-family: Open Sans;"routerLink="/menu/media">View</ion-button>
                    </p>
                  </ion-slide>
                </ion-slides>
        </div> -->
        <!-- <ion-tabs>
          <ion-tab-bar slot="bottom">
            <ion-tab-button tab="shop">
              <ion-icon color="danger" name="flame"></ion-icon>
              <ion-label style="font-weight:bold">Shop Now</ion-label>
              <ion-badge color="danger">6</ion-badge>
            </ion-tab-button>
            <ion-tab-button tab="about">
              <ion-icon color="primary" name="information-circle"></ion-icon>
              <ion-label style="font-weight:bold">About</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="map">
              <ion-icon  name="paper-plane"></ion-icon>
              <ion-label style="font-weight:bold">Contact</ion-label>
            </ion-tab-button>
        
          
          </ion-tab-bar>
        </ion-tabs> -->
      <!-- <ion-grid fixed> -->
    <!-- <ion-row>
      <ion-col class="slanted-corner" size="12">
        <h1 text-center style="font-family: Impact;color:#000"><i>Welcome to..</i></h1>
        <section text-center margin-bottom>
         
        </section>
      </ion-col>
    </ion-row> -->
   
  <!-- </ion-grid> -->
  <!-- <ion-card>
    <ion-grid fixed>
      <ion-row>
        <ion-col size-sm="2" size-md="6">
          <video class="video" webkit-playsinline playsinline autoplay loop>
            <source src="assets/home-video2.mp4" type="video/mp4">
          </video>
        </ion-col>
        <ion-col size-sm="2" size="6">
          <video class="video" webkit-playsinline playsinline autoplay loop>
            <source src="assets/home-video3.mp4" type="video/mp4">
          </video>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> -->
  
  <!-- <ion-card>
    <ion-card-content>
      <div class="textv">
        <p text-center style="font-weight: bold; ">Get to know us better</p>
        <a href="https://web.facebook.com/preetifashions" target="_blank"> <ion-icon name="logo-facebook" style="font-size:5em; margin-right: 50%;" ></ion-icon></a>
        <a href="https://www.instagram.com/preetifashions_ke/" target="_blank"><ion-icon name="logo-instagram" style="font-size: 5em;" ></ion-icon></a>
      </div>
      <div class="routeit"><a routerLink="/menu/contact">Contact Us..</a></div>
    </ion-card-content>
  </ion-card> -->
  <!-- <div class="primal">
    <ion-text color="light">
      <p style ="font-weight: bold;background-color: #edf5e1;color: #000; font-family: Open Sans" text-center>Top categories</p>
    </ion-text>
  </div> -->
  <!-- <div class="back-color">
    <ion-grid fixed>
      <ion-row>
        <ion-col class="ion-align-self-start" size-sm="3" size-md="3" style="font-family: Impact">Dresses
          <ion-thumbnail><img tappable routerLink="/menu/media" src="/assets/slf2.jpg" /></ion-thumbnail>
        </ion-col>
        <ion-col class="ion-align-self-start" size-sm="3" size-md="3" style="font-family: Impact">Tops
          <ion-thumbnail><img tappable routerLink="/menu/media" src="/assets/img3.jpg" /></ion-thumbnail>
        </ion-col>
        <ion-col class="ion-align-self-center" size-sm="3" size-md="3" style="font-family: Impact">Shoes
          <ion-thumbnail><img tappable src="/assets/oshoe3.jpg" routerLink="/menu/media" /></ion-thumbnail>
        </ion-col>
        <ion-col class="ion-align-self-center" size-sm="3" size-md="3" style="font-family: Impact">Suits
          <ion-thumbnail><img tappable src="/assets/tsuit5.jpg" routerLink="/menu/media" /></ion-thumbnail>
        </ion-col>
        <ion-col class="ion-align-self-center" size-sm="3" size-md="3" style="font-family: Impact">Bags
          <ion-thumbnail><img tappable src="/assets/hbag2.jpg" routerLink="/menu/media" /></ion-thumbnail>
        </ion-col>
        <ion-col class="ion-align-self-end" size-sm="3" size-md="3" style="font-family: Impact">Men
          <ion-thumbnail><img tappable src="/assets/suit1.jpg" routerLink="/menu/media" /></ion-thumbnail>
        </ion-col>
      
      </ion-row>
    </ion-grid>
  </div> -->
  <!-- <div class="primal">
    <ion-text color="light">
      <h2> Our offer deals...</h2>
    </ion-text>
  </div> -->
  <!-- <div class="redirect-login">
    <ion-button color="danger" (click)="presentLogoutWithOptions()" (click)="logout()" routerLink="/menu/login" [disabled]="!checkAuth"><ion-icon slot="start" name="log-out"></ion-icon>Logout
    </ion-button>
  </div> -->
  <!-- <ion-footer>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h3 class="footer-styling"><ion-icon name="navigate"></ion-icon>OUR LOCATION</h3>
          <p class="footer-styling">Moktar Daddar Street</p>
        </ion-col>
        <ion-col>
          <h3 class="footer-styling"><ion-icon name="time"></ion-icon>WORKING HOURS</h3>
          <p class="footer-styling"><span>Mon-Sat:</span> Open from 8:30AM - 7:00PM</p><br>
        
        </ion-col>
        <ion-col>
          <h3 class="footer-styling"><ion-icon name="call"></ion-icon>CONTACT US</h3>
          <p class="footer-styling"><ion-icon name="logo-whatsapp"></ion-icon>+254721397580</p><br>
          <p class="footer-styling">preetifashions90@gmail.com</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer> -->
<!-- </ion-content> -->