.intro-card {
    background-color: #f0ebf4;
    color: azure;
    margin-left:auto; 
    margin-right: auto; 
    height: 6em;
    overflow: hidden;
}
.bg {
    --background: #ffff url('/assets/p11.jpg') no-repeat center center / contain;
}
.slanted-corner {
    margin-top: 30px;
    height: 300px;
    background:whitesmoke;
    position: relative;
}

.slanted-corner:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 80px solid white;
    border-left: 80px solid red;
    width: 0;
}
.align-middle {
    width: 300px;
}

.textv {
    background-color: #edf5e1;
    align-content: center;
    font-weight: 500;  
}
.video {
    width: 31.25em;
    height: 21.875em;
}
.primal {
    background-color: #fff;
    color: #ffff;
   


}
.back-color {
    background-color: #ffff;
    // position: absolute;
    // top: 190px;
    // left: 0px;
    // right: 0px;
    // height: 50px;
   

}
ion-content {
    margin-top: 0px;
    padding-top: 0px; 
}
.redirect-login {
    width: 18.75em; 
    margin-left:auto; 
    margin-right: auto;
}
.card-resize {
    width: 9.375em;
    height: 9.375em;
    display: flex;
    flex-direction: column;
}
.display-product {
    background-size: cover;
}

$colors:(
    danger: #ec5a5a,
    primary: blue,
    dark: white
)
